@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Istok Web", sans-serif;
}

.card {
  position: relative;
  width: 320px;
  height: 480px;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #39FF14;
  transform: skewY(345deg);
  transition: 0.5s;
}

.card::after {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

.card .imgBox img {
  height: 300px;
  width: auto;
  transition: .5s;
}

.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
  background: #39FF14;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.delete {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
  background: #ff0303;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.delete:hover {
    background: linear-gradient(to top, black 0%, #39FF14 100%);
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

#delete i,
.shop-icon i,
.fa-cart-shopping {
  color: #fff !important;
}

#delete:hover i,
.shop-icon:hover i {
  color: #ffce00 !important;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.games-admin-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding: 0 40px;
  max-width: 1400px;
  margin: 40px auto 0 auto;
}

@media (max-width: 1100px) {
  .games-admin-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10px;
  }
}
@media (max-width: 700px) {
  .games-admin-grid {
    grid-template-columns: 1fr;
    padding: 0 4px;
  }
}